#header {
    background: rgba(40, 58, 90, 0.9);
}

#navbar>li.dropdown.open {
    position: static;
}

#navbar>li.dropdown.open .dropdown-menu {
    display: table;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu>a {
    display: table-cell;
}

.dropdown-menu {
    width: 300px;
}